<ion-header>
  <ion-navbar>
    <ion-title *ngIf="list">
      {{ list.name }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list *ngIf="list && list.items">
      <ion-item-sliding *ngFor="let item of list.items" #slidingItem>
        <ion-item>
          <ion-label>{{ item.name }}</ion-label>
          <ion-toggle (ionChange)="toggle(list)" [(ngModel)]="item.complete"></ion-toggle>
        </ion-item>
        <ion-item-options side="left">
            <button ion-button (click)="deleteTodoItem(item.list, slidingItem)" color="danger">
              <ion-icon name="close-circle"></ion-icon>
            </button>
            
          </ion-item-options>
          <ion-item-options side="right">
            <button ion-button (click)="editTodoItem(item.list, slidingItem)">
                <ion-icon name="create"></ion-icon>
            </button>
          </ion-item-options>
      </ion-item-sliding>
    </ion-list>

  <ion-fab bottom right>
    <button ion-fab color="blue"  (click)="addTodoItem(list)">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

  <ion-fab bottom left>
      <button ion-fab color="blue"  (click)="listen()">
        <ion-icon name="mic"></ion-icon>
      </button>
  </ion-fab>

  <ion-fab bottom center>
      <button ion-fab color="blue"  (click)="shareTodoList(list)">
        <ion-icon name="share"></ion-icon>
      </button>
  </ion-fab>

</ion-content>
