<ion-header>
  <ion-navbar>
    <ion-title *ngIf="list">
      {{ list.name }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list *ngIf="list && list.items">
      <ion-item-sliding *ngFor="let item of list.items" #slidingItem>
        <ion-item>
          <ion-label>{{ item.name }}</ion-label>
          <ion-toggle (ionChange)="toggle(list)" [(ngModel)]="item.complete"></ion-toggle>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button (click)="deleteTodoItem(list, item, slidingItem)" color="light" icon-start>
            Supprimer
          </button>
          <button ion-button (click)="editTodoItem(list, item, slidingItem)" icon-start>
            Modifier
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  <button ion-button color="light" block (click)="addTodoItem(list)">Ajouter un item</button>

  <button ion-button block (click)="listen()">
    <div>
      <ion-icon name="mic">
        <label>Parle-moi</label>
      </ion-icon>
    </div>
  </button>
</ion-content>
