<ion-header>
  <ion-navbar>
    <ion-title>User Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding *ngIf="userDataServiceProvider.isLoggedIn()">

  <ion-list>
    <ion-item>
      <ion-avatar item-start>
        <img [src]="userDataServiceProvider.getUserProfile().providerData[0].photoURL">
      </ion-avatar>
      <h2>Nom: {{ userDataServiceProvider.getUserProfile().providerData[0].displayName }}</h2>
      <h3>Email: {{ userDataServiceProvider.getUserProfile().providerData[0].email }}</h3>
    </ion-item>
  </ion-list>

  <ion-row>
    <ion-col text-center="">
      <button ion-button large icon-only (click)="googleLogout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
</ion-content>

<ion-content padding *ngIf="userDataServiceProvider.isDisconnectedMode()">
  <ion-list>
    <ion-item>
      <h2>Vous êtes actuellement déconnecté</h2>
    </ion-item>
  </ion-list>

  <ion-row>
    <ion-col text-center="">
      <button ion-button large icon-only (click)="connectedMode()">
        <ion-icon name="log-in"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
</ion-content>
