<ion-header>
  <ion-navbar>
    <ion-title>User Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding *ngIf="userDataServiceProvider.isLoggedIn()">

  <ion-list>
    <ion-item>
      <ion-avatar item-start>
        <img [src]="userDataServiceProvider.getUserProfile().providerData[0].photoURL">
      </ion-avatar>
      <h2>Nom: {{ userDataServiceProvider.getUserProfile().providerData[0].displayName }}</h2>
      <h3>Email: {{ userDataServiceProvider.getUserProfile().providerData[0].email }}</h3>
    </ion-item>
  </ion-list>

  <button ion-button block (click)="googleLogout()">
    GOOGLE LOGOUT
  </button>
</ion-content>

<ion-content padding *ngIf="userDataServiceProvider.isDisconnectedMode()">
  <ion-list>
    <ion-item>
      <h2>Vous êtes actuellement déconnecté</h2>
    </ion-item>
  </ion-list>
  <button ion-button block (click)="connectedMode()">
    Passer en mode connecté
  </button>
</ion-content>
